<div class="ld-login">
  <div class="ld-wrapper">
    <header class="ld-header">
      <div class="wrapper">
        <div class="logo-wrapper">
          <img class="image" src="assets/logo/devfreela.svg" alt="Logo da Dev Freela">
        </div>
      </div>
    </header>
    <main class="main-content">
      <form class="left" (submit)="register()" action="javascript:void(0)">

        <h1 class="main-title">
          <span class="up">Olá!</span>
          <span class="down">Vamos criar seu cadastro.</span>
        </h1>

        <div class="radio-buttons">
          <h3 class="title">Qual o seu perfil?</h3>
          <div class="buttons">
            <label class="ld-radio">
              Dev
              <input type="radio" name="role">
              <span class="checkmark"></span>
            </label>
            <label class="ld-radio">
              Cliente
              <input type="radio" name="role">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>

        <input required id="fullName" class="ld-input" placeholder="Nome completo">
        <input required id="birthdate" class="ld-input" placeholder="Data de nascimento" type="date">
        <input required id="email" class="ld-input" placeholder="Email" type="email">
        <input required id="password" class="ld-input" placeholder="Senha" type="password">

        <button type="submit" class="ld-button">Continuar</button>

      </form>
      <div class="right">
        <img class="image" src="assets/image/bg-cubes.png"
          alt="Fundo de decoração com três cubos com fundo gradient das cores do arco-íris">
      </div>
    </main>
  </div>
</div>
