<div class="ld-register">
  <app-ld-wrapper>
    <form class="left" (submit)="register()" [formGroup]="registerForm">

      <h1 class="main-title">
        <span class="up">Olá!</span>
        <span class="down">Vamos criar seu cadastro.</span>
      </h1>

      <div class="radio-buttons">
        <h3 class="title">Qual o seu perfil?</h3>
        <div class="buttons">
          <label class="ld-radio">
            Dev
            <input type="radio" name="role" (click)="toggleRole('dev')">
            <span class="checkmark"></span>
          </label>
          <label class="ld-radio">
            Cliente
            <input type="radio" name="role" (click)="toggleRole('cliente')">
            <span class="checkmark"></span>
          </label>
        </div>
        <span class="role-invalid" *ngIf="isInvalid('role', 'required')">{{ messages.role }}</span>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Nome completo</mat-label>
        <input matInput formControlName="fullName">
        <mat-error *ngIf="isInvalid('fullName', 'required')">{{ messages.required }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Data de nascimento</mat-label>
        <input type="date" matInput formControlName="birthDate">
        <mat-error *ngIf="isInvalid('birthDate', 'required')">{{ messages.required }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="isInvalid('email', 'required')">{{ messages.required }}</mat-error>
        <mat-error *ngIf="isInvalid('email', 'email')">{{ messages.email }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="isInvalid('password', 'required')">{{ messages.required }}</mat-error>
      </mat-form-field>

      <app-ld-button text="Continuar"></app-ld-button>
      </form>

    <div class="right">
        <img class="image" src="assets/image/bg-cubes.png"
          alt="Fundo de decoração com três cubos com fundo gradient das cores do arco-íris">
    </div>
  </app-ld-wrapper>
</div>

