<div class="ld-project-create-edit">
  <app-ld-wrapper back="list">
    <!-- <a href="list.html" class="back-btn material-icons">keyboard_arrow_left</a> -->

    <form class="left" (submit)="createOrEdit()" [formGroup]="projectForm">
      <h1 class="main-title">{{ title }}</h1>

      <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="isInvalid('title', 'required')">{{ messages.required }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Custo Total</mat-label>
        <mat-error *ngIf="isInvalid('totalCost', 'required')">{{ messages.required }}</mat-error>
        <input matInput formControlName="totalCost">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="isInvalid('description', 'required')">{{ messages.required }}</mat-error>
      </mat-form-field>

      <app-ld-button [text]="actionButtonText"></app-ld-button>

    </form>
    <div class="right">
      <img class="image" src="assets/image/bg-float-cubes.png"
        alt="Fundo de decoração com três cubos com fundo gradient das cores do arco-íris">
    </div>
  </app-ld-wrapper>
</div>
